@model IEnumerable<BooksStore.Business.Models.BookModel>

@{
    ViewBag.Title = "Home";
}


<div style="display: flex; flex-direction: column; gap: 32px; width: 100%;">
    <div
        style="display: flex; flex-direction: row; background-color: #F5F5F5; border: 1px solid #E0E0E0; border-radius: 8px;">
        <span style="padding: 8px 8px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9E9E9E" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </span>
        <input class="searchbar"
            style="width: 100%; background-color: transparent; border: none; padding: 8px 8px; outline: none;"
            placeholder="Search" type="text" />
    </div>
    <div style="">
        <ul style="display: flex; flex-direction: row; gap: 8px; width: 100%; overflow-x: scroll;">
            @foreach (var genre in ViewBag.genres)
            {
                <li
                    style="padding: 8px; white-space: nowrap; background-color: #F5F5F5; border: 1px solid #E0E0E0; border-radius: 16px;">
                    @genre.Name</li>
            }

        </ul>
    </div>

    <div class="books_cards_list" style="display: flex; flex-direction: row; gap: 16px; flex-wrap: wrap;">
        @foreach (var item in Model)
        {
            <a href="/Books/BookDetails/@item.Id" style="@(!item.Status ? "display: none;" : "")">
                <div class="book_card" style="display: flex; flex-direction: column; width: 160px; max-width: 160px; gap: 16px;">
                    <div style="width: 160px; max-width: 160px; height: 240px; overflow: hidden; border-radius: 8px;">
                        <img src="@item.Image" style="width: 160px; max-width: 160px; height: auto; " class="book_image" alt="Book cover">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 0; ">
                        <h3 style="font-size: 14px; font-weight: 500; letter-spacing: 0.1px; line-height: 1;">
                            @item.Title
                        </h3>
                        <p style="font-size: 12px; font-weight: 500; letter-spacing: 0.4px; color: #757575; line-height: 1;">
                            Isaac Asimov
                        </p>
                        <p style="font-size: 14px; font-weight: 500; letter-spacing: 0.4px; color: #7E57C2; line-height: 1;">
                            $@item.Price
                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
